* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  background-image: url("../images/barberia.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  opacity: 0.8;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

nav .logo a {
  margin-left: 10vw;
  color: #faea12;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav .logo a:hover {
  background-color: #a39803;
  border-radius: 50px;
  color: #000000;
}

.links > a {
  text-decoration: none;
  padding: 6px;
  margin-right: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #e9e8e8;
  letter-spacing: 1px;
}

.links > a:hover {
  background-color: #a39803;
  border-radius: 50px;
  color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 33vh;
}

.main h1 {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin: 5px;
  padding: 5px;
}

.main span {
  color: #d5c604;
}

.main p {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.main .pag-one {
  margin-top: 5px;
  padding: 5px;
}

.main .pag-two {
  margin-bottom: 15px;
}

.main div > button {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  padding: 10px;
  margin: 18px;
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.main div > button > a {
  text-decoration: none;
}

.main .btn-one {
  background-color: #d5c604;
  transition: all, 0.5s, ease-in;
}

.main .btn-one > a {
  color: #ffffff;
}

.main .btn-one:hover {
  background-color: #a39803;
  opacity: 0.9;
}

.main .btn-one:focus, .main .btn-two:focus {
  outline: none;
}

.main .btn-two {
  background-color: #e9e8e8;
}

.main .btn-two > a {
  color: #d5c604;
}

.main .btn-two:hover {
  background-color: #858080;
  opacity: 0.9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
}

.modal .modal-content {
  background-color: #6b6767;
  margin: auto;
  padding: 20px;
  border: 1px solid #716902;
  width: 80%;
  height: 98%;
}

.modal .close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover {
  color: #716902;
  text-decoration: none;
  cursor: pointer;
}

.modal .close:focus {
  color: #faea12;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content h1 {
  color: #000000;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 18px;
  letter-spacing: 1px;
  text-align: center;
}

.modal .modal-form {
  margin: 0 auto;
  width: 40%;
  height: 80%;
  background-color: #e9e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 0px 10px 3px #716902;
  border-radius: 10px;
}

.modal .modal-form label {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #000000;
  padding: 5px;
  margin: 5px;
}

.modal .modal-form input[type="text"], .modal .modal-form .form-btn,
.modal .modal-form input[type="tel"],
.modal .modal-form input[type="date"],
.modal .modal-form input[type="time"] {
  width: 60%;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
  padding: 14px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.modal .modal-form input[type="text"]:focus, .modal .modal-form .form-btn:focus, .modal .modal-form input[type="text"]:hover, .modal .modal-form .form-btn:hover,
.modal .modal-form input[type="tel"]:focus,
.modal .modal-form input[type="tel"]:hover,
.modal .modal-form input[type="date"]:focus,
.modal .modal-form input[type="date"]:hover,
.modal .modal-form input[type="time"]:focus,
.modal .modal-form input[type="time"]:hover {
  outline: none;
}

.modal .modal-form .form-btn {
  padding: 5px;
  margin: 30px;
  cursor: pointer;
  background-color: #faea12;
  box-shadow: 1px 0px 10px 3px #000000;
}

.modal .modal-form .form-btn:hover {
  background-color: #000000;
  color: #faea12;
}

.modal .modal-form small {
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  font-size: 11px;
}

@media only screen and (max-width: 600px) {
  .hamburger-menu {
    width: 35px;
    height: 30px;
    margin: 50px;
    cursor: pointer;
  }
  .menu {
    z-index: 2;
    position: relative;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: #e9e8e8;
    display: block;
    border-radius: 5px;
  }
  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }
  .change .bar {
    background-color: #e9e8e8;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .nav-links {
    padding: 0;
    margin: 0 -4px;
    transition: 0.3s ease;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 2;
  }
  .nav-links li a {
    color: #e9e8e8;
    text-decoration: none;
  }
  .nav-links li a:hover {
    background-color: #a39803;
    border-radius: 50px;
    color: #000000;
  }
  .nav-links li {
    list-style: none;
    padding: 16px 0;
  }
  .change {
    display: block;
    z-index: 2;
  }
  .menu-bg {
    width: 0;
    height: 0;
    margin: 20px;
    background: radial-gradient(circle, #000000, #000000);
    transition: 0.3s ease;
    z-index: 1;
    border-radius: 50%;
  }
  .hamburger-menu #menu-bg {
    top: 0;
    right: 0;
    position: absolute;
  }
  .change-bg {
    width: 550px;
    height: 550px;
    transform: translate(75%, -20%);
  }
  /* Main section */
  .main {
    display: flex;
    flex-direction: column;
  }
  .main h1 {
    font-size: 20px;
  }
}
