* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal .modal-content {
  background-color: #6b6767;
  margin: auto;
  padding: 20px;
  border: 1px solid #d5c604;
  border-radius: 20px;
  width: 80%;
  height: 100%;
}

.modal .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover {
  color: #d5c604;
  text-decoration: none;
  cursor: pointer;
}

.modal .close:focus {
  color: #faea12;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content h1 {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 18px;
  letter-spacing: 1px;
  text-align: center;
}

.modal .modal-form {
  margin: 0 auto;
  width: 40%;
  height: 80%;
  background-color: #e9e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 0px 10px 3px #716902;
  border-radius: 10px;
}

.modal .modal-form label {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: black;
  padding: 5px;
  margin: 5px;
}

.modal .modal-form input[type="text"], .modal .modal-form .form-btn,
.modal .modal-form input[type="tel"],
.modal .modal-form input[type="date"],
.modal .modal-form input[type="time"],
.modal .modal-form select {
  width: 60%;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
  padding: 14px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  border: none;
}

.modal .modal-form input[type="text"]:focus, .modal .modal-form .form-btn:focus, .modal .modal-form input[type="text"]:hover, .modal .modal-form .form-btn:hover,
.modal .modal-form input[type="tel"]:focus,
.modal .modal-form input[type="tel"]:hover,
.modal .modal-form input[type="date"]:focus,
.modal .modal-form input[type="date"]:hover,
.modal .modal-form input[type="time"]:focus,
.modal .modal-form input[type="time"]:hover,
.modal .modal-form select:focus,
.modal .modal-form select:hover {
  outline: none;
  border: none;
}

.modal .modal-form .form-btn {
  padding: 5px;
  margin: 30px;
  cursor: pointer;
  background-color: #faea12;
  box-shadow: 1px 0px 10px 3px black;
}

.modal .modal-form .form-btn:hover {
  background-color: black;
  color: #faea12;
}

.modal .modal-form small {
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  font-size: 11px;
}

html, body {
  overflow: hidden;
  background-image: url("../images/barberia.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  opacity: 0.9;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

nav .logo a {
  margin-left: 10vw;
  color: #faea12;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav .logo a:hover {
  background-color: #faea12;
  border-radius: 50px;
  color: black;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px;
}

.nav-links li a:hover {
  background-color: #faea12;
  border-radius: 50px;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 33vh;
}

.main h1 {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin: 5px;
  padding: 5px;
}

.main span {
  color: #faea12;
}

.main p {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.main .pag-one {
  margin-top: 5px;
  padding: 5px;
}

.main .pag-two {
  margin-bottom: 15px;
}

.main .btn-container {
  width: 40vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.main .btn-container > button {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  padding: 10px;
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.main .btn-container > button a {
  text-decoration: none;
}

.main .btn-one {
  background-color: #d5c604;
  transition: all, 0.5s, ease-in;
  border: none;
}

.main .btn-one a {
  color: white;
}

.main .btn-one:hover {
  background-color: #a39803;
  opacity: 0.9;
}

.main .btn-one:focus, .main .btn-two:focus {
  outline: none;
}

.main .btn-two {
  background-color: #e9e8e8;
  border: none;
}

.main .btn-two a {
  color: #d5c604;
}

.main .btn-two:hover {
  background-color: #858080;
  opacity: 0.9;
}

.about-wrapper {
  width: 100%;
  height: 90vh;
  margin: auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(3, 100px));
  grid-template-areas: "i c c c" "i c c c" "f f f f";
}

.content {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
}

.content .about-header h1 {
  font-size: 4.8rem;
  color: #e9e8e8;
  padding: 20px;
}

.content p {
  font-family: "Ubuntu", sans-serif;
  margin-top: 20px;
  color: #faea12;
  font-size: 16px;
  padding: 20px;
  background-color: black;
  margin: 5px;
}

.image {
  grid-area: i;
}

.image img {
  width: 100%;
  height: 100%;
}

.footer {
  grid-area: f;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.footer h1 {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  align-self: center;
  padding: 10px;
  font-size: 18px;
}

.footer .footer-links {
  margin-top: 10px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer .footer-links div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-links i {
  font-size: 40px;
  color: #faea12;
}

.footer .footer-links p {
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  font-size: 14px;
  padding: 5px;
}

.team-container {
  margin-top: 25vh;
}

.team-container h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #d5c604;
  font-size: 20px;
  width: 100%;
  letter-spacing: 2px;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 20px;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

article div {
  width: 23vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

article div .img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #bcaf04;
  box-shadow: 0px 0px 4px 4px black, 2px 2px 4px 4px black;
  margin: 10px;
  align-self: center;
  margin-top: 50px;
  background-position: center;
}

article div .name {
  color: #faea12;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 5px 5px;
  font-size: 15px;
}

article div p {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  font-weight: bolder;
  padding: 5px 5px;
  font-size: 15px;
}

.gallery-container {
  padding: 5px;
  height: 90%;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: repeat(3, 1fr);
  grid-gap: 5px;
  grid-template-areas: "a a b b " "c c d d" "e e f f";
}

.modern-design {
  grid-area: a;
  background-color: #d5c604;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  cursor: pointer;
  border-radius: 5px;
}

.modern-design h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  color: black;
  animation-name: moving;
  animation-duration: 2000ms;
  padding: 15px;
}

.modern-design p {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  animation-name: moving;
  animation-duration: 2000ms;
  font-size: 14px;
  padding: 10px;
  background-color: black;
}

.modern-design:hover,
.modern-design :focus {
  cursor: pointer;
  opacity: 0.8;
}

.modern-design:hover h3,
.modern-design :focus h3 {
  color: #e9e8e8;
}

.modern-design:hover p,
.modern-design :focus p {
  color: #d5c604;
}

.image-one {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  background-image: url("../images/gallery-one.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
}

.image-one .img-content {
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.image-one:hover {
  opacity: 0.9;
}

.image-two {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  background-image: url("../images/gallery-two.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
}

.image-two .img-content {
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.image-two:hover {
  opacity: 0.9;
}

.image-three {
  grid-area: d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  background-image: url("../images/gallery-three.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
}

.image-three .img-content {
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.image-three:hover {
  opacity: 0.9;
}

.image-four {
  grid-area: e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  background-image: url("../images/gallery-four.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
}

.image-four .img-content {
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.image-four:hover {
  opacity: 0.9;
}

.image-five {
  grid-area: f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  color: #e9e8e8;
  background-image: url("../images/gallery-five.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
}

.image-five .img-content {
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.image-five:hover {
  opacity: 0.9;
}

@keyframes moving {
  0% {
    opacity: 0;
    margin-right: -50vw;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-right: 0vw;
  }
}

.services-container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-header {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #d5c604;
  font-size: 20px;
  width: 100%;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.right-side {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.right-side .service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  margin: 6px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: black;
}

.right-side .service:first-child {
  margin-top: 10px;
}

.right-side .service:nth-child(odd) {
  background-color: #d5c604;
}

.right-side .service:nth-child(even) {
  background-color: #e9e8e8;
}

.contact-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid #faea12;
  margin-top: 16vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
}

.contact-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  letter-spacing: 1px;
  color: #faea12;
  font-size: 1.3rem;
  position: relative;
}

.contact-container .header h2 {
  border-bottom: 2px solid #e9e8e8;
}

.contact-container .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  letter-spacing: 1px;
  color: #faea12;
  font-size: 1.3rem;
}

.contact-container .address h4 {
  color: #faea12;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin: 10px;
}

.contact-container .address p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  color: #e9e8e8;
  letter-spacing: 2px;
}

.contact-container .phoneNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  letter-spacing: 1px;
  color: #faea12;
  font-size: 1.3rem;
  background-color: black;
}

.contact-container .phoneNumber h4 {
  color: #faea12;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin: 10px;
}

.contact-container .phoneNumber p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  color: #e9e8e8;
  letter-spacing: 2px;
}

.contact-container .socialMedia {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1/4;
}

.contact-container .socialMedia .fa {
  font-size: 50px;
  cursor: pointer;
  color: #a39803;
}

.contact-container .socialMedia .fa:hover {
  color: #b7b4b4;
}

@media only screen and (max-width: 500px) {
  .main p,
  span {
    display: none;
  }
  .main h1 {
    color: #d5c604;
    margin-top: 8vh;
    margin-bottom: 5vh;
  }
  .main .btn-container {
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .main .btn-container .btn-one,
  .main .btn-container .btn-two {
    width: 60vw;
    height: 7vh;
  }
  .hamburger-menu {
    width: 35px;
    height: 30px;
    margin: 50px;
    cursor: pointer;
    z-index: 3;
  }
  .menu {
    z-index: 2;
    position: relative;
    margin-top: 7px;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: #e9e8e8;
    display: block;
    border-radius: 5px;
  }
  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }
  .change .bar {
    background-color: #e9e8e8;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .nav-links {
    padding: 10px;
    margin: 0 -15px;
    transition: 0.3s ease;
    display: none;
    position: relative;
    z-index: 2;
  }
  .nav-links li a {
    color: #e9e8e8;
    text-decoration: none;
  }
  .nav-links li a:hover {
    background-color: #a39803;
    border-radius: 50px;
    color: black;
  }
  .nav-links li {
    list-style: none;
    padding: 16px 0;
  }
  .change {
    display: block;
    z-index: 2;
  }
  .current {
    background-color: #d5c604;
    border-radius: 50px;
    color: black;
  }
  .menu-bg {
    width: 0;
    height: 0;
    margin: 20px;
    background: radial-gradient(circle, black, black);
    transition: 0.3s ease;
    z-index: 1;
    border-radius: 50%;
  }
  .hamburger-menu #menu-bg {
    top: 0;
    right: 0;
    position: absolute;
  }
  .change-bg {
    width: 500px;
    height: 500px;
    transform: translate(75%, -17%);
    border: 1px solid #faea12;
  }
  .about-wrapper {
    display: grid;
    grid-template-areas: "c c c c" "i i i i" "f f f f";
  }
  .content {
    grid-area: c;
  }
  .content .about-header h1 {
    padding: 20px;
    font-size: 2.2rem;
  }
  .content p {
    background-color: black;
  }
  .image {
    grid-area: i;
  }
  .image img {
    opacity: 1;
  }
  .footer {
    grid-area: f;
    background-color: black;
    padding: 30px;
  }
  body {
    overflow: auto;
  }
  .team-container {
    margin-top: 10vh;
  }
  article {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  article div {
    width: 100%;
    height: 35vh;
  }
  article div:last-child {
    display: none;
  }
  article p {
    display: none;
  }
  body {
    overflow: auto;
  }
  .gallery-container {
    display: grid;
    grid-template-rows: repeat(6, minmax(200px, 1fr));
    grid-template-areas: "a a" "b b" "c c" "d d" "e e" "f f";
  }
  .gallery-container p {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    animation-name: appear;
    animation-duration: 3000ms;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .image-five {
    border: 1px solid red;
    padding-bottom: 5p;
  }
  .services-container {
    display: flex;
    flex-direction: column;
  }
  .services-header {
    margin: 10px;
    border-bottom: 3px solid #e9e8e8;
    width: 100px;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .main .btn-container {
    width: 70vw;
  }
  .main .btn-container .btn-one,
  .main .btn-container .btn-two {
    width: 25vh;
  }
  .main .btn-container .btn-one a,
  .main .btn-container .btn-two a {
    font-size: 12px;
    font-family: "Ubuntu", sans-serif;
  }
  .hamburger-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .hamburger-menu {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1171px) {
  .hamburger-menu {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
