* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal .modal-content {
  background-color: #6b6767;
  margin: auto;
  padding: 20px;
  border: 1px solid #716902;
  width: 80%;
  height: 98%;
}

.modal .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover {
  color: #716902;
  text-decoration: none;
  cursor: pointer;
}

.modal .close:focus {
  color: #faea12;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content h1 {
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 18px;
  letter-spacing: 1px;
  text-align: center;
}

.modal .modal-form {
  margin: 0 auto;
  width: 40%;
  height: 80%;
  background-color: #e9e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 0px 10px 3px #716902;
  border-radius: 10px;
}

.modal .modal-form label {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: black;
  padding: 5px;
  margin: 5px;
}

.modal .modal-form input[type="text"], .modal .modal-form .form-btn,
.modal .modal-form input[type="tel"],
.modal .modal-form input[type="date"],
.modal .modal-form input[type="time"] {
  width: 60%;
  height: 30px;
  border-radius: 15px;
  font-size: 15px;
  padding: 14px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.modal .modal-form input[type="text"]:focus, .modal .modal-form .form-btn:focus, .modal .modal-form input[type="text"]:hover, .modal .modal-form .form-btn:hover,
.modal .modal-form input[type="tel"]:focus,
.modal .modal-form input[type="tel"]:hover,
.modal .modal-form input[type="date"]:focus,
.modal .modal-form input[type="date"]:hover,
.modal .modal-form input[type="time"]:focus,
.modal .modal-form input[type="time"]:hover {
  outline: none;
}

.modal .modal-form .form-btn {
  padding: 5px;
  margin: 30px;
  cursor: pointer;
  background-color: #faea12;
  box-shadow: 1px 0px 10px 3px black;
}

.modal .modal-form .form-btn:hover {
  background-color: black;
  color: #faea12;
}

.modal .modal-form small {
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  font-size: 11px;
}

body {
  overflow: auto;
  background-image: url("../images/barberia.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  opacity: 0.9;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

nav .logo a {
  margin-left: 10vw;
  color: #faea12;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav .logo a:hover {
  background-color: #faea12;
  border-radius: 50px;
  color: black;
}

@media only screen and (max-width: 500px) {
  .hamburger-menu {
    width: 35px;
    height: 30px;
    margin: 50px;
    cursor: pointer;
    z-index: 3;
  }
  .menu {
    z-index: 2;
    position: relative;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: #e9e8e8;
    display: block;
    border-radius: 5px;
  }
  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }
  .change .bar {
    background-color: #e9e8e8;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .nav-links {
    padding: 5px;
    margin: 0 -15px;
    transition: 0.3s ease;
    display: none;
    position: relative;
    z-index: 2;
  }
  .nav-links li a {
    color: #e9e8e8;
    text-decoration: none;
  }
  .nav-links li a:hover {
    background-color: #a39803;
    border-radius: 50px;
    color: black;
  }
  .nav-links li {
    list-style: none;
    padding: 16px 0;
  }
  .change {
    display: block;
    z-index: 2;
  }
  .menu-bg {
    width: 0;
    height: 0;
    margin: 20px;
    background: radial-gradient(circle, black, black);
    transition: 0.3s ease;
    z-index: 1;
    border-radius: 50%;
  }
  .hamburger-menu #menu-bg {
    top: 0;
    right: 0;
    position: absolute;
  }
  .change-bg {
    width: 500px;
    height: 500px;
    transform: translate(75%, -20%);
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .hamburger-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .hamburger-menu {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1171px) {
  .hamburger-menu {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px;
}

.nav-links li a:hover {
  background-color: #faea12;
  border-radius: 50px;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 33vh;
}

.main h1 {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin: 5px;
  padding: 5px;
}

.main span {
  color: #faea12;
}

.main p {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.main .pag-one {
  margin-top: 5px;
  padding: 5px;
}

.main .pag-two {
  margin-bottom: 15px;
}

.main div > button {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  padding: 10px;
  margin: 18px;
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.main div > button > a {
  text-decoration: none;
}

.main .btn-one {
  background-color: #d5c604;
  transition: all, 0.5s, ease-in;
}

.main .btn-one > a {
  color: white;
}

.main .btn-one:hover {
  background-color: #a39803;
  opacity: 0.9;
}

.main .btn-one:focus, .main .btn-two:focus {
  outline: none;
}

.main .btn-two {
  background-color: #e9e8e8;
}

.main .btn-two > a {
  color: #d5c604;
}

.main .btn-two:hover {
  background-color: #858080;
  opacity: 0.9;
}

.about {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 15vh;
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
}

.about h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #a39803;
  font-size: 20px;
  width: 100%;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px;
}

.prg-container {
  width: 60%;
  height: 70%;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.prg-container .prg-one, .prg-container .prg-two {
  background-color: #faea12;
  border-radius: 50px;
  padding: 20px;
  width: 70%;
  margin: 10px;
  box-shadow: 0px 0px 4px 4px #585202, 2px 2px 4px 4px #585202;
}

.prg-container .prg-two {
  background-color: #e9e8e8;
  color: black;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 15vh;
  display: grid;
  grid-template-rows: 100px;
}

.container h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #a39803;
  font-size: 20px;
  width: 100%;
  letter-spacing: 2px;
  grid-column: 1/3;
}

article {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

article > div {
  width: 23vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 50px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

article > div .img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid #bcaf04;
  box-shadow: 0px 0px 4px 4px black, 2px 2px 4px 4px black;
  margin: 10px;
  align-self: center;
  margin-top: 50px;
  background-position: center;
}

article > div .name {
  color: #faea12;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  padding: 5px 5px;
  font-size: 15px;
}

article > div p {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #b7b4b4;
  font-weight: bolder;
  padding: 5px 5px;
  font-size: 15px;
}

.services {
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
  display: grid;
  grid-template-rows: 50px;
}

.services .services-header {
  margin: 0 auto;
  padding: 10px;
  grid-column: 1/3;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #a39803;
  font-size: 20px;
  width: 100%;
  letter-spacing: 2px;
}

.services hr {
  grid-column: 1/3;
  width: 100%;
}

.services .left-side {
  background-image: url("../images/service.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.right-side {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-side .service {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  margin: 6px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: black;
}

.right-side .service > div > p {
  font-weight: bolder;
}

.right-side .service:first-child {
  margin-top: 10px;
}

.right-side .service:nth-child(odd) {
  background-color: #a39803;
}

.right-side .service:nth-child(even) {
  background-color: #d0cece;
}

.container {
  width: 100vw;
  height: 100vh;
  margin-top: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
}

@keyframes opacity {
  0% {
    opacity: 0;
    margin-right: -50vw;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-right: 0vw;
  }
}

.gallery-text {
  background-color: black;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e9e8e8;
  opacity: 1;
}

.gallery-text h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  padding: 10px;
  margin: 10px;
  color: #bcaf04;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.gallery-text p {
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.gallery-text:hover,
.gallery-text :focus {
  cursor: pointer;
  opacity: 0.8;
}

.gallery-text:hover h3,
.gallery-text :focus h3 {
  color: #e9e8e8;
}

.gallery-text:hover p,
.gallery-text :focus p {
  color: #bcaf04;
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  position: relative;
  cursor: pointer;
}

.one {
  grid-rows: 1/2;
}

.one img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.one .img-p1 {
  position: absolute;
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.one:hover .img-p1 {
  background-color: #faea12;
  color: black;
}

.two {
  grid-column: 1/2;
}

.two .img-p2 {
  position: absolute;
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.two img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.two:hover .img-p2 {
  background-color: #faea12;
  color: black;
}

.three {
  grid-column: 2/3;
}

.three .img-p3 {
  position: absolute;
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.three img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.three:hover .img-p3 {
  background-color: #faea12;
  color: black;
}

.four {
  grid-column: 3/4;
}

.four .img-p4 {
  position: absolute;
  color: #faea12;
  font-family: "Ubuntu", sans-serif;
  z-index: 2;
  font-size: 1rem;
  background-color: black;
  padding: 6px;
  border-radius: 5px;
  animation-name: opacity;
  animation-duration: 3000ms;
}

.four img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.four:hover .img-p4 {
  background-color: #faea12;
  color: black;
}

.contact-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid #faea12;
  margin-top: 16vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
}

.contact-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  letter-spacing: 1px;
  color: #faea12;
  font-size: 1.3rem;
  position: relative;
}

.contact-container .header h2 {
  border-bottom: 2px solid #e9e8e8;
}

.contact-container .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  letter-spacing: 1px;
  color: #faea12;
  font-size: 1.3rem;
}

.contact-container .address h4 {
  color: #faea12;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin: 10px;
}

.contact-container .address p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  color: #e9e8e8;
  letter-spacing: 2px;
}

.contact-container .phoneNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  letter-spacing: 1px;
  color: #faea12;
  font-size: 1.3rem;
  background-color: black;
}

.contact-container .phoneNumber h4 {
  color: #faea12;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin: 10px;
}

.contact-container .phoneNumber p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  color: #e9e8e8;
  letter-spacing: 2px;
}

.contact-container .socialMedia {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1/4;
}

.contact-container .socialMedia .fa {
  font-size: 50px;
  cursor: pointer;
  color: #a39803;
}

.contact-container .socialMedia .fa:hover {
  color: #b7b4b4;
}
