$font-family: "Ubuntu", sans-serif;
$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(233, 232, 232);
$accent-color: rgb(250, 234, 18);
$darken: darken($accent-color, $amount: 10%);

@mixin heading {
  text-align: center;
  font-family: $font-family;
  color: $darken;
  font-size: 20px;
  width: 100%;
  letter-spacing: 2px;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: $font-family;
  color:$secondary-color;
}

@mixin contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  letter-spacing: 1px;
  color: $accent-color;
  font-size: 1.3rem;
}

@mixin contactHeaders {
  color: $accent-color;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: $font-family;
  padding: 10px;
  margin: 10px;
}

@mixin contactParagraph {
  font-family: $font-family;
  font-size: 1.1rem;
  color: $secondary-color;
  letter-spacing: 2px;
}

// Media Queries Mixins

@mixin mediaSm {
  @media only screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (min-width: 501px) and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
