$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(233, 232, 232);
$accent-color: rgb(250, 234, 18);

@mixin heading {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: darken($accent-color, $amount: 15%);
    font-size: 20px;
    width: 100%;
    letter-spacing: 2px;
}


