// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}
// Tablets and small Laptops
@include mediaMd {
}

// Smartphones
@include mediaSm {
  .hamburger-menu {
    // display: none;
    width: 35px;
    height: 30px;
    margin: 50px;
    cursor: pointer;
    // z-index: 3;
  }

  .menu {
    z-index: 2;
    position: relative;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: $secondary-color;
    display: block;
    border-radius: 5px;
    // z-index: 2;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .change .bar {
    background-color: $secondary-color;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .nav-links {
    padding: 0;
    margin: 0 -4px;
    transition: 0.3s ease;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 2;
  }
  .nav-links li a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      background-color: darken($accent-color, $amount: 20%);
      border-radius: 50px;
      color: $primary-color;
    }
  }
  .nav-links li {
    list-style: none;
    padding: 16px 0;
  }

  .change {
    display: block;
    z-index: 2;
  }

  .menu-bg {
    width: 0;
    height: 0;
    margin: 20px;
    background: radial-gradient(circle, $primary-color, $primary-color);
    transition: 0.3s ease;
    z-index: 1;
    border-radius: 50%;
  }

  .hamburger-menu #menu-bg {
    top: 0;
    right: 0;
    position: absolute;
  }

  .change-bg {
    width: 550px;
    height: 550px;
    transform: translate(75%, -20%);
  }
}
