@import "style";

body {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid $accent-color;
  margin-top: 16vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $primary-color;

  .header {
    @include contact;
    position: relative;

    h2 {
      border-bottom: 2px solid $secondary-color;
    }
  }

  .address {
    @include contact;

    h4 {
      @include contactHeaders;
    }

    p {
      @include contactParagraph;
    }
  }

  .phoneNumber {
    @include contact;
    background-color: $primary-color;

    h4 {
      @include contactHeaders;
    }

    p {
      @include contactParagraph;
    }
  }

  .socialMedia {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/4;

    .fa {
      font-size: 50px;
      cursor: pointer;
      color: darken($accent-color, $amount: 20%);

      &:hover {
        color: darken($secondary-color, $amount: 20%);
      }
    }
  }
}
