* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  background-image: url("../images/barberia.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.8;
}

.header {
  background-color: black;
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

nav .logo a {
  margin-left: 20px;
  color: #a39803;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

nav .logo a:hover {
  background-color: #a39803;
  border-radius: 50px;
  color: black;
}

.links > a {
  text-decoration: none;
  padding: 6px;
  margin-right: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #e9e8e8;
  letter-spacing: 1px;
}

.links > a:hover {
  background-color: #a39803;
  border-radius: 50px;
  color: black;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 33vh;
}

.main h1 {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin: 5px;
  padding: 5px;
}

.main span {
  color: #d5c604;
}

.main p {
  color: #e9e8e8;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.main .pag-one {
  margin-top: 5px;
  padding: 5px;
}

.main .pag-two {
  margin-bottom: 15px;
}

.main div > button {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  padding: 10px;
  margin: 18px;
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.main div > button > a {
  text-decoration: none;
}

.main .btn-one {
  background-color: #d5c604;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}

.main .btn-one > a {
  color: white;
}

.main .btn-one:hover {
  background-color: #a39803;
  opacity: 0.9;
}

.main .btn-one:focus, .main .btn-two:focus {
  outline: none;
}

.main .btn-two {
  background-color: #e9e8e8;
}

.main .btn-two > a {
  color: #d5c604;
}

.main .btn-two:hover {
  background-color: #858080;
  opacity: 0.9;
}

h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #bcaf04;
  font-size: 30px;
  margin: 10px;
}

.services {
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-side {
  background-image: url("../images/service.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 50%;
  height: 100%;
}

.right-side {
  background-color: black;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px;
  margin: 6px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: black;
}

.service > div > p {
  font-weight: bolder;
}

.service:first-child {
  margin-top: 10px;
}

.service:nth-child(odd) {
  background-color: #a39803;
}

.service:nth-child(even) {
  background-color: #d0cece;
}
/*# sourceMappingURL=services.css.map */