@import "_reset";
@import "_config";
@import "_modal";
@import "_utilities";
// @import "_mobile";

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

nav .logo a {
  margin-left: 10vw;
  color: $accent-color;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  font-family: $font-family;
  border-radius: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover {
    background-color: $accent-color;
    border-radius: 50px;
    color: $primary-color;
  }
}

.nav-links li {
  list-style: none;

  a {
    text-decoration: none;
    color: $secondary-color;
    font-family: $font-family;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 5px;

    &:hover {
      background-color: $accent-color;
      border-radius: 50px;
      color: $primary-color;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 33vh;

  h1 {
    color: $secondary-color;
    font-family: $font-family;
    font-size: 40px;
    margin: 5px;
    padding: 5px;
  }

  span {
    color: $accent-color;
  }

  p {
    color: $secondary-color;
    font-family: $font-family;
    font-size: 16px;
  }

  .pag-one {
    margin-top: 5px;
    padding: 5px;
  }

  .pag-two {
    margin-bottom: 15px;
  }

  .btn-container {
    width: 40vw;
    height: 10vh;
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .btn-container > button {
    font-family: $font-family;
    font-size: 12px;
    padding: 10px;
    width: 15vw;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;

    a {
      text-decoration: none;
    }
  }

  .btn-one {
    background-color: $darken;
    transition: all, 0.5s, ease-in;
    border: none;

    a {
      color: lighten($secondary-color, $amount: 80%);
    }

    &:hover {
      background-color: darken($darken, $amount: 10%);
      opacity: 0.9;
    }
    &:focus {
      outline: none;
    }
  }

  .btn-two {
    background-color: $secondary-color;
    border: none;

    a {
      color: darken($accent-color, $amount: 10%);
    }
    &:hover {
      background-color: darken($secondary-color, $amount: 40%);
      opacity: 0.9;
    }

    &:focus {
      @extend .btn-one:focus;
    }
  }
}

// ABOUT

.about-wrapper {
  width: 100%;
  height: 90vh;
  margin: auto;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(3, 100px));
  grid-template-areas:
    "i c c c"
    "i c c c"
    "f f f f";
}

.content {
  grid-area: c;
  @include flex;
  // background-color: sienna;

  .about-header h1 {
    font-size: 4.7rem;
    color: $secondary-color;
    padding: 20px;
  }

  p {
    font-family: $font-family;
    margin-top: 20px;
    color: $accent-color;
    font-size: 16px;
    padding: 20px;
  }
}

.image {
  grid-area: i;
  img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  grid-area: f;
  display: flex;
  flex-direction: column;
  // background-color: rgb(45, 146, 160);

  h1 {
    color: $secondary-color;
    font-family: $font-family;
    align-self: center;
    padding: 10px;
    font-size: 18px;
  }

  .footer-links {
    margin-top: 10px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 40px;
      color: $accent-color;
    }

    p {
      font-family: $font-family;
      color: $secondary-color;
      font-size: 14px;
      padding: 5px;
    }
  }
}

// TEAM PAGE

.team-container {
  margin-top: 25vh;
}

.team-container h1 {
  @include heading;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding: 20px;
}

// Team Animation
@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div {
    width: 23vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    animation-name: opacity;
    animation-duration: 3000ms;

    .img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      border: 1px solid darken($accent-color, $amount: 15%);
      box-shadow: 0px 0px 4px 4px darken($accent-color, $amount: 65%),
        2px 2px 4px 4px darken($accent-color, $amount: 65%);
      margin: 10px;
      align-self: center;
      margin-top: 50px;
      background-position: center;
    }
    .name {
      color: $accent-color;
      font-weight: bolder;
      letter-spacing: 1px;
      text-align: center;
      font-family: $font-family;
      padding: 5px 5px;
      font-size: 15px;
    }

    p {
      text-align: center;
      font-family: $font-family;
      color: $secondary-color;
      font-weight: bolder;
      padding: 5px 5px;
      font-size: 15px;
    }
  }
}

// SERVICES PAGE

.services-container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-header {
  @include heading;
  margin-bottom: 5px;
}

.right-side {
  width: 80%;
  display: flex;
  flex-direction: column;

  .service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin: 6px;
    font-weight: bold;
    font-family: $font-family;
    font-size: 16px;
    color: $primary-color;

    &:first-child() {
      margin-top: 10px;
    }
    &:nth-child(odd) {
      background-color: $darken;
    }
    &:nth-child(even) {
      background-color: $secondary-color;
    }
  }
}

// GALLERY

.container {
  width: 100vw;
  height: 100vh;
  margin-top: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
}

@keyframes moving {
  0% {
    opacity: 0;
    margin-right: -50vw;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-right: 0vw;
  }
}

.gallery-text {
  background-color: darken($primary-color, $amount: 80%);
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  opacity: 1;

  h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    padding: 10px;
    margin: 10px;
    color: darken($accent-color, $amount: 15%);
    animation-name: moving;
    animation-duration: 3000ms;
  }

  p {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    animation-name: moving;
    animation-duration: 3000ms;
  }

  &:hover,
  :focus {
    cursor: pointer;
    opacity: 0.8;
    h3 {
      color: $secondary-color;
    }
    p {
      color: darken($accent-color, $amount: 15%);
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  // border: 4px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  position: relative;
  cursor: pointer;
}

.one {
  grid-rows: 1/2;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .img-p1 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }
  &:hover {
    .img-p1 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

.two {
  grid-column: 1/2;

  .img-p2 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &:hover {
    .img-p2 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

.three {
  grid-column: 2/3;

  .img-p3 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &:hover {
    .img-p3 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

.four {
  grid-column: 3/4;

  .img-p4 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &:hover {
    .img-p4 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

// CONTACT

.contact-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid $accent-color;
  margin-top: 16vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $primary-color;

  .header {
    @include contact;
    position: relative;

    h2 {
      border-bottom: 2px solid $secondary-color;
    }
  }

  .address {
    @include contact;

    h4 {
      @include contactHeaders;
    }

    p {
      @include contactParagraph;
    }
  }

  .phoneNumber {
    @include contact;
    background-color: $primary-color;

    h4 {
      @include contactHeaders;
    }

    p {
      @include contactParagraph;
    }
  }

  .socialMedia {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/4;

    .fa {
      font-size: 50px;
      cursor: pointer;
      color: darken($accent-color, $amount: 20%);

      &:hover {
        color: darken($secondary-color, $amount: 20%);
      }
    }
  }
}

// MEDIA QUERIES

// Smartphones

@include mediaSm {
  // HOME

  .main p,
  span {
    display: none;
  }

  .main h1 {
    color: $darken;
    margin-top: 8vh;
    margin-bottom: 5vh;
  }
  .main .btn-container {
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .btn-one,
    .btn-two {
      width: 60vw;
      height: 7vh;
    }
  }

  // HAMBURGER MENU

  .hamburger-menu {
    width: 35px;
    height: 30px;
    margin: 50px;
    cursor: pointer;
    z-index: 3;
  }

  .menu {
    z-index: 2;
    position: relative;
    margin-top: 7px;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: $secondary-color;
    display: block;
    border-radius: 5px;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .change .bar {
    background-color: $secondary-color;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .nav-links {
    padding: 10px;
    margin: 0 -15px;
    transition: 0.3s ease;
    display: none;
    position: relative;
    z-index: 2;
  }
  .nav-links li a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      background-color: darken($accent-color, $amount: 20%);
      border-radius: 50px;
      color: $primary-color;
    }
  }
  .nav-links li {
    list-style: none;
    padding: 16px 0;
  }

  .change {
    display: block;
    z-index: 2;
  }

  .current {
    background-color: $darken;
    border-radius: 50px;
    color: $primary-color;
  }

  .menu-bg {
    width: 0;
    height: 0;
    margin: 20px;
    background: radial-gradient(circle, $primary-color, $primary-color);
    transition: 0.3s ease;
    z-index: 1;
    border-radius: 50%;
  }

  .hamburger-menu #menu-bg {
    top: 0;
    right: 0;
    position: absolute;
  }

  .change-bg {
    width: 500px;
    height: 500px;
    transform: translate(75%, -17%);
    border: 1px solid $accent-color;
  }

  // ABOUT

  .about-wrapper {
    display: grid;
    grid-template-areas:
      "c c c c"
      "i i i i"
      "f f f f";
  }

  .content {
    grid-area: c;

    .about-header h1 {
      padding: 20px;
      font-size: 2.2rem;
    }

    p{
      background-color: $primary-color;
      // margin: 5px;
    }
  }

  .image {
    grid-area: i;

    img {
      opacity: 1;
    }
  }

  .footer {
    grid-area: f;
    background-color: $primary-color;
    padding: 30px;
  }

  // TEAM

  body {
    overflow: auto;
  }

  .team-container {
    margin-top: 10vh;
  }

  article {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    div {
      width: 100%;
      height: 35vh;

      &:last-child {
        display: none;
      }
    }

    p {
      display: none;
    }
  }

  // SERVICES

  .services-container {
    display: flex;
    flex-direction: column;
  }
  .services-header {
    margin: 10px;
    border-bottom: 3px solid $secondary-color;
    width: 100px;
  }
}

// Table and Small Laptop
@include mediaMd {
  .main .btn-container {
    width: 70vw;
    // background-color: green;

    .btn-one,
    .btn-two {
      width: 25vh;
      a {
        font-size: 12px;
        font-family: $font-family;
      }
    }
  }
  .hamburger-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

// Desktops & Laptops

@include mediaLg {
  .hamburger-menu {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

// widescreens

@include mediaXl {
  .hamburger-menu {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
