@import "./config";

body {
  overflow: hidden;
  background-image: url("../images/barberia.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.8;
}

.header {
  background-color: $primary-color;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav .logo a {
  margin-left: 40px;
  color: darken($accent-color, $amount: 20%);
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;

  &:hover {
    background-color: darken($accent-color, $amount: 20%);
    border-radius: 50px;
    color: $primary-color;
  }
}

.links > a {
  text-decoration: none;
  padding: 6px;
  margin-right: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: $secondary-color;
  letter-spacing: 1px;

  &:hover {
    background-color: darken($accent-color, $amount: 20%);
    border-radius: 50px;
    color: $primary-color;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 33vh;

  h1 {
    color: $secondary-color;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    margin: 5px;
    padding: 5px;
  }

  span {
    color: darken($accent-color, $amount: 10%);
  }

  p {
    color: $secondary-color;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
  }

  .pag-one {
    margin-top: 5px;
    padding: 5px;
  }

  .pag-two {
    margin-bottom: 15px;
  }

  div > button {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    padding: 10px;
    margin: 18px;
    width: 15vw;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
  }

  div > button > a {
    text-decoration: none;
  }
  .btn-one {
    background-color: darken($accent-color, $amount: 10%);
    transition: all, 0.5s, ease-in;
  }

  .btn-one > a {
    color: lighten($secondary-color, $amount: 80%);
  }

  .btn-one:hover {
    background-color: darken($accent-color, $amount: 20%);
    opacity: 0.9;
  }

  .btn-one:focus {
    outline: none;
  }

  .btn-two {
    background-color: $secondary-color;
  }

  .btn-two > a {
    color: darken($accent-color, $amount: 10%);
  }

  .btn-two:hover {
    background-color: darken($secondary-color, $amount: 40%);
    opacity: 0.9;
  }

  .btn-two:focus {
    @extend .btn-one:focus;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $primary-color;
  }

  .modal-content {
    background-color: darken($secondary-color, $amount: 50%);
    margin: auto;
    padding: 20px;
    border: 1px solid darken($accent-color, $amount: 30%);
    width: 80%;
    height: 98%;
  }

  .close {
    color: $primary-color;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover {
      color: darken($accent-color, $amount: 30%);
      text-decoration: none;
      cursor: pointer;
    }

    &:focus {
      color: $accent-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .modal-content h1 {
    color: darken($primary-color, $amount: 50%);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 18px;
    letter-spacing: 1px;
    text-align: center;
  }

  .modal-form {
    margin: 0 auto;
    width: 40%;
    height: 80%;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 0px 10px 3px darken($accent-color, $amount: 30%);
    border-radius: 10px;

    label {
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      color: darken($primary-color, $amount: 30%);
      padding: 5px;
      margin: 5px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"],
    input[type="time"] {
      width: 60%;
      height: 30px;
      border-radius: 15px;
      font-size: 15px;
      padding: 14px;
      font-family: "Ubuntu", sans-serif;
      text-align: center;

      &:focus,
      &:hover {
        outline: none;
      }
    }

    .form-btn {
      @extend input[type="text"];
      padding: 5px;
      margin: 30px;
      cursor: pointer;
      background-color: $accent-color;
      box-shadow: 1px 0px 10px 3px $primary-color;

      &:hover {
        background-color: $primary-color;
        color: $accent-color;
      }
    }
    small {
      font-style: italic;
      font-family: "Ubuntu", sans-serif;
      font-size: 11px;
    }
  }
}
