@import "_reset";
@import "_config";
@import "_modal";
@import "_utilities";
@import "_mobile";


.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
}

nav .logo a {
  margin-left: 10vw;
  color: $accent-color;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover {
    background-color: darken($accent-color, $amount: 20%);
    border-radius: 50px;
    color: $primary-color;
  }
}

.links > a {
  text-decoration: none;
  padding: 6px;
  margin-right: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: $secondary-color;
  letter-spacing: 1px;

  &:hover {
    background-color: darken($accent-color, $amount: 20%);
    border-radius: 50px;
    color: $primary-color;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 33vh;

  h1 {
    color: $secondary-color;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    margin: 5px;
    padding: 5px;
  }

  span {
    color: darken($accent-color, $amount: 10%);
  }

  p {
    color: $secondary-color;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
  }

  .pag-one {
    margin-top: 5px;
    padding: 5px;
  }

  .pag-two {
    margin-bottom: 15px;
  }

  div > button {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    padding: 10px;
    margin: 18px;
    width: 15vw;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
  }

  div > button > a {
    text-decoration: none;
  }
  .btn-one {
    background-color: darken($accent-color, $amount: 10%);
    transition: all, 0.5s, ease-in;
  }

  .btn-one > a {
    color: lighten($secondary-color, $amount: 80%);
  }

  .btn-one:hover {
    background-color: darken($accent-color, $amount: 20%);
    opacity: 0.9;
  }

  .btn-one:focus {
    outline: none;
  }

  .btn-two {
    background-color: $secondary-color;
  }

  .btn-two > a {
    color: darken($accent-color, $amount: 10%);
  }

  .btn-two:hover {
    background-color: darken($secondary-color, $amount: 40%);
    opacity: 0.9;
  }

  .btn-two:focus {
    @extend .btn-one:focus;
  }
}

// ABOUT

.about {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 15vh;
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
  // background-color: red;

  h1 {
    @include heading;
    padding: 10px;
    margin: 10px;
  }
}

.prg-container {
  width: 60%;
  height: 70%;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;

  .prg-one {
    background-color: $accent-color;
    border-radius: 50px;
    padding: 20px;
    width: 70%;
    margin: 10px;
    box-shadow: 0px 0px 4px 4px darken($accent-color, $amount: 35%),
      2px 2px 4px 4px darken($accent-color, $amount: 35%);
  }

  .prg-two {
    @extend .prg-one;
    background-color: $secondary-color;
    color: $primary-color;
  }
}

// TEAM PAGE

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 15vh;
  display: grid;
  grid-template-rows: 100px;

  h1 {
    @include heading;
    grid-column: 1/3;
  }
}

article {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

article > div {
  width: 23vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 50px;
  animation-name: opacity;
  animation-duration: 3000ms;

  .img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid darken($accent-color, $amount: 15%);
    box-shadow: 0px 0px 4px 4px darken($accent-color, $amount: 65%),
      2px 2px 4px 4px darken($accent-color, $amount: 65%);
    margin: 10px;
    align-self: center;
    margin-top: 50px;
    background-position: center;
  }

  .name {
    color: $accent-color;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    padding: 5px 5px;
    font-size: 15px;
  }

  p {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: darken($secondary-color, $amount: 20%);
    font-weight: bolder;
    padding: 5px 5px;
    font-size: 15px;
  }
}

// SERVICES PAGE

.services {
  width: 95vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
  display: grid;
  grid-template-rows: 50px;

  .services-header {
    margin: 0 auto;
    padding: 10px;
    grid-column: 1/3;
    @include heading;
  }

  hr {
    grid-column: 1/3;
    width: 100%;
  }

  .left-side {
    background-image: url("../images/service.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
}

.right-side {
  background-color: darken($primary-color, $amount: 10%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .service {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin: 6px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: darken($primary-color, $amount: 5%);
  }

  .service > div > p {
    font-weight: bolder;
  }

  .service:first-child() {
    margin-top: 10px;
  }

  .service:nth-child(odd) {
    background-color: darken($accent-color, $amount: 20%);
  }
  .service:nth-child(even) {
    background-color: darken($secondary-color, $amount: 10%);
  }
}

// GALLERY

.container {
  width: 100vw;
  height: 100vh;
  margin-top: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
}

@keyframes opacity {
  0% {
    opacity: 0;
    margin-right: -50vw;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    margin-right: 0vw;
  }
}

.gallery-text {
  background-color: darken($primary-color, $amount: 80%);
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  opacity: 1;

  h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    padding: 10px;
    margin: 10px;
    color: darken($accent-color, $amount: 15%);
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  p {
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  &:hover,
  :focus {
    cursor: pointer;
    opacity: 0.8;
    h3 {
      color: $secondary-color;
    }
    p {
      color: darken($accent-color, $amount: 15%);
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  // border: 4px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  position: relative;
  cursor: pointer;
}

.one {
  grid-rows: 1/2;

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .img-p1 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }
  &:hover {
    .img-p1 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

.two {
  grid-column: 1/2;

  .img-p2 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &:hover {
    .img-p2 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

.three {
  grid-column: 2/3;

  .img-p3 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &:hover {
    .img-p3 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

.four {
  grid-column: 3/4;

  .img-p4 {
    position: absolute;
    color: $accent-color;
    font-family: "Ubuntu", sans-serif;
    z-index: 2;
    font-size: 1rem;
    background-color: $primary-color;
    padding: 6px;
    border-radius: 5px;
    animation-name: opacity;
    animation-duration: 3000ms;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &:hover {
    .img-p4 {
      background-color: $accent-color;
      color: $primary-color;
    }
  }
}

// CONTACT

.contact-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid $accent-color;
  margin-top: 16vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $primary-color;

  .header {
    @include contact;
    position: relative;

    h2 {
      border-bottom: 2px solid $secondary-color;
    }
  }

  .address {
    @include contact;

    h4 {
      @include contactHeaders;
    }

    p {
      @include contactParagraph;
    }
  }

  .phoneNumber {
    @include contact;
    background-color: $primary-color;

    h4 {
      @include contactHeaders;
    }

    p {
      @include contactParagraph;
    }
  }

  .socialMedia {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1/4;

    .fa {
      font-size: 50px;
      cursor: pointer;
      color: darken($accent-color, $amount: 20%);

      &:hover {
        color: darken($secondary-color, $amount: 20%);
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  // Hamburger Menu on mobile

  .hamburger-menu {
    // display: none;
    width: 35px;
    height: 30px;
    margin: 50px;
    cursor: pointer;
    // z-index: 3;
  }

  .menu {
    z-index: 2;
    position: relative;
  }

  .bar {
    height: 5px;
    width: 100%;
    background-color: $secondary-color;
    display: block;
    border-radius: 5px;
    // z-index: 2;
  }

  #bar1 {
    transform: translateY(-4px);
  }

  #bar3 {
    transform: translateY(4px);
  }

  .change .bar {
    background-color: $secondary-color;
  }

  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }

  .change #bar2 {
    opacity: 0;
  }

  .nav-links {
    padding: 0;
    margin: 0 -4px;
    transition: 0.3s ease;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 2;
  }
  .nav-links li a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      background-color: darken($accent-color, $amount: 20%);
      border-radius: 50px;
      color: $primary-color;
    }
  }
  .nav-links li {
    list-style: none;
    padding: 16px 0;
  }

  .change {
    display: block;
    z-index: 2;
  }

  .menu-bg {
    width: 0;
    height: 0;
    margin: 20px;
    background: radial-gradient(circle, $primary-color, $primary-color);
    transition: 0.3s ease;
    z-index: 1;
    border-radius: 50%;
  }

  .hamburger-menu #menu-bg {
    top: 0;
    right: 0;
    position: absolute;
  }

  .change-bg {
    width: 550px;
    height: 550px;
    transform: translate(75%, -20%);
  }

  /* Main section */
}
