@import "config";
@import "style";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    margin-top: 10vh;
}

h1{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: darken($accent-color, $amount: 15%);
    font-size: 30px;
    margin-bottom: 40px;
}

article{
    display: flex;
    justify-content: space-between;
    align-self: center;
    // background-color: hotpink;
    width: 100vw;
    height: 80vh;
}

article > div {
    width: 23vw;
    height: 55vh;
    background-color: darken($secondary-color, $amount: 30%);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px darken($accent-color, $amount: 65%);
}

.img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid darken($accent-color, $amount: 15%);
    margin: 10px;
    align-self: center;
    margin-top: 50px;
    background-position: center;
}

.name {
    color: $accent-color;
    font-weight: bolder;
    letter-spacing: 1px;

}

p {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: darken($primary-color, $amount: 60%);
    font-weight: bolder;
    padding: 5px 5px;
    font-size: 15px;
}